[submodule "lib/msdf-atlas-gen"]
	path = lib/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git

[submodule "lib/shaderc"]
	path = lib/shaderc
	url = https://github.com/google/shaderc
[submodule "lib/SPIRV-Cross"]
	path = lib/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
